ConsultaVirtual/Service References/wsMWS/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://femsarh/wsMWS/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfMWService2" />
  <xs:element name="GetTokenUsrPwd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenUsrPwdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfMWService2" minOccurs="0" name="GetTokenUsrPwdResult" nillable="true" type="q1:UsuarioMWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsrByToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strGUID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsrByTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUsrByTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUseApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strGUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strAppName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUseAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUseAppResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strGUID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateActionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>