ConsultaVirtual/Service References/wsMWS/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfMWService2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfMWService2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsuarioMWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="BolAutenticado" type="xs:boolean" />
      <xs:element minOccurs="0" name="StrGUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrMensajeError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrMotivoAccesoDenegado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioMWS" nillable="true" type="tns:UsuarioMWS" />
</xs:schema>